body {
    min-width: 280px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    background: #1a1b1e;
    border-radius: 4px;
    color: #e2e8f0;
}

textarea {
    resize: none;
    border-radius: 4px;
    background-color: #0f1114;
    color: #e2e8f0;
    border: 1px solid #323741;
    padding: 8px;
    width: calc(100% - 16px);
}

textarea:focus {
    outline: none;
    border-color: #63b3ed;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0%;
}

pre {
    background-color: #0c0c0e;
    user-select: text;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    color: #e2e8f0;
    white-space: pre-wrap;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c0c0e;
    border-radius: 4px;
    margin: 8px 0;
    padding: 12px;
    width: 100%;
    display: flex;
}

.checkbox-wrapper {
    gap: 8px;
    margin: 10px 0;
    display: block;
}

.checkbox-size {
    width: 20px;
    height: 20px;
    margin: 0;
}

.label-size {
    font-size: large;
}

#container div:first-child {
    font-weight: 500;
    margin-bottom: 8px;
}

.content {
    width: 100%;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-bottom: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    background-color: #151615;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    height: auto;
    border: none;
    align-self: center;
    align-content: center;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}

.active,
.collapsible:hover {
    background-color: #151615;
}

.collapsible:after {
    content: '\002B\0020 Open';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212\0020 Close";
}

textarea,
body,
button,
label,
pre,
div,
#container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

.center {
    align-content: center;
    display: flex;
    justify-content: center;
}